/* Add some global styles here! */

:root {
  --red: rgb(208, 67, 12);
  --base-bg: #f1f3f5;
  --primary: #1d005f;
  font-family: 'Montserrat', sans-serif;
}

main {
  width: 100vw;
  height: 80vh;
  overflow: hidden;
}

hr {
  border: none;
  border-top: 1px solid rgba(207, 207, 207, 0.83); /* Thin light gray border */
  margin: 0.1rem 0; /* Add space around the hr */
}

button.btn-small {
  font-size: 80%;
}

button.button-error {
  color: white;
  background: var(--red);
}

button {
  cursor: pointer;
}

a.button {
  color: #212529;
  background-color: #f1f3f5;
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
  padding: 0.375em 0.75em;
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.vertical {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.opaque {
  opacity: 0.5;
}

.text-sm {
  font-size: 12px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}